/* Ajustes generales para el cuerpo y el contenedor */
html, body {
    height: 100%; /* Asegura que la altura de HTML y el cuerpo ocupe toda la pantalla */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    background-color: #cac9c9; /* Color de fondo gris claro */

}

 .container {
	width: 95vw; /* Ancho igual al tamaño visible de la ventana */
	height: auto; /* Altura igual al tamaño visible de la ventana */
	padding: 20px; /* Añade espacio interno al contenido */
	display: flex;
    flex-direction: column;
  }

.top-level-menu {
	display: flex;
	justify-content: space-between;
	align-items: flex-start; /* Cambiamos esto de 'center' a 'flex-start' */
	padding: 10px;
}
.menu-options button img {
    width: 45px;
    height: 45px;
}


.menu-options {
	display: flex;
	justify-content: space-between;
	align-items: center;
    max-width: 800px; /* Establece un ancho máximo para mantener la legibilidad */
    margin: 0 auto; /* Centra horizontalmente */
  }
  .menu-left,
  .menu-right {
	flex: 1; /* Ocupa todo el espacio disponible */
	display: flex;
	justify-content: space-evenly;  /* Alinea los elementos a la izquierda */
	flex-direction: row;
	overflow-x: auto;
	align-items: center;

  }
  .menu-right {
	justify-content: flex-end; /* Alinea los elementos a la derecha */
  }
  .menu-left button,
  .menu-right button {
	border: none;
	background: none;
	padding: 5px;
	width: 90px; /* Establece un tamaño fijo para los botones del menú */
	height: 125px; /* Permite que la altura se ajuste automáticamente */

  }
  
  .menu-left button img,
  .menu-right button img {
	width: 100%; /* Ajusta el tamaño de la imagen al 100% del botón */
	height: auto; /* Permite que la altura se ajuste automáticamente */
  }
.menu button {
	border: none; /* Elimina el borde del botón */
	background: none; /* Elimina cualquier fondo de botón */
	padding: 0; /* Elimina el relleno interno del botón */
  }
  
  .menu button img {
	position: fixed;
	bottom: 20px; /* Distancia desde la parte inferior */
	right: 20px; /* Distancia desde el lado derecho */
	padding: 5px; /* Ajusta el espacio interno del botón */
	width: 40px; /* Ancho del botón */
	height: 40px; /* Altura del botón */
    background-color: white; /* Fondo blanco para el icono de pantalla completa */

  }
  
  .menu button:focus {
	outline: none; /* Elimina el contorno al enfocar el botón */
  }
  
  
.lector {
	width: 100%;
	height: 110px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid black;
	margin: 20px auto;
	cursor: pointer;

}

.word {
	margin: 0 5px;
}

.item {
	flex: 0 0 calc(25% - 20px); /* Calcula el ancho del elemento para mostrar 3 elementos por fila */
	min-width: 200px;
	height: 200px;
	border:  1px solid black; ;
	padding: 10px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	flex-direction: column;
	margin: 10px;
	background-color: white; /* Establece un fondo blanco para los pictogramas */
	position: relative; /* Agregamos posición relativa */

}

  
.items {
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 20px 0;
	flex-wrap: wrap;
    align-items: center;
	overflow-x: auto;
    white-space: nowrap; /* Asegura que los ítems estén en una sola línea */
    -webkit-overflow-scrolling: touch; /* Habilita el desplazamiento suave en iOS */

}
.item img {
	width: 100px; /* Ancho deseado para la imagen */
	height: auto; /* Altura automática para mantener la proporción */
	margin-bottom: 10px; /* Espacio inferior para separar la imagen del texto */
  }
  
  .item span {
	font-size: 18px; /* Tamaño de fuente deseado para el nombre */
	font-weight: bold; /* Negrita para el nombre */
	text-align: center;
  }
  .delete-button {
    position: absolute; /* Establece posición absoluta */
    top: 5px; /* Ajusta la posición desde la parte superior */
    right: 5px; /* Ajusta la posición desde la parte derecha */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor apuntador */
}

.delete-button img {
    width: 16px; /* Ajusta el tamaño del icono */
    height: 16px; /* Ajusta el tamaño del icono */
}

.confirmation-modal {
    position: absolute; /* Establece posición absoluta */
    top: 50%; /* Ajusta la posición desde la parte superior */
    left: 50%; /* Ajusta la posición desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #cccccc; /* Borde */
    border-radius: 5px; /* Radio del borde */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    z-index: 1; /* Asegura que esté encima de otros elementos */
}

.confirmation-modal p {
    margin: 0; /* Elimina el margen */
    font-size: 14px; /* Tamaño de fuente */
    color: #333333; /* Color de fuente */
}

.confirmation-modal button {
    padding: 5px 10px; /* Espaciado del botón */
    margin-top: 5px; /* Margen superior */
    background-color: #007bff; /* Color de fondo del botón */
    color: #ffffff; /* Color de fuente del botón */
    border: none; /* Sin borde */
    border-radius: 3px; /* Radio del borde */
    cursor: pointer; /* Cursor apuntador */
}

.confirmation-modal button:first-child {
    background-color: #dc3545; /* Color de fondo del botón 'Sí' */
}
  .column.horizontal {
	flex: 1;
  }
  
  .actions-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Alinea las acciones al inicio */
  }
  
  .actions-container .item {
    margin-bottom: 5px; /* Reducir el espacio entre las filas de acciones */
  }
  
  .verbs-container {
	display: flex;
    flex-wrap: wrap;
    flex: 1; /* Ocupa todo el espacio restante */


  }
  
  .verbs-container .item {
	flex: 1;
    margin-right: 5px; /* Reducir el espacio entre los verbos */
    margin-bottom: 5px; /* Reducir el espacio entre las filas de verbos */
    padding: 10px;
    background-color: #ffffff;
    cursor: pointer;
}
  
.lector-container {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    text-align: center;
    overflow: hidden; /* Ocultar scroll interno */
}

.lector-big {
	padding: 20px;
	display: flex;
	flex-direction: row; /* Mostrar elementos en columna */
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	cursor: pointer;
	font-size: 42px;
	background-color: white;

}
.lector-big .word-item {
	border: 2px solid #000000; /* Añade un borde alrededor de cada item */
	padding: 10px; /* Añade espacio interno para separar los contenidos */
	margin-bottom: 10px; /* Añade espacio entre cada item */
	background-color: white;
	
  }
.lector-big .word-with-image {
	display: flex;
	flex-direction: column; /* Mostrar palabra e imagen en columna */
	align-items: center;
	margin-bottom: 10px;
  }
  .lector-big .word-with-image .word {
	margin-right: 40px; /* Espacio entre cada palabra */
  }
  .lector-big .word-with-image img {
	width: 100px;
	height: auto;
	margin-right: 10px;
  }
  
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.icon {
	width: 50px;
	position: fixed;
	top: 20px; /* Distancia desde la parte inferior */
	right: 20px; /* Distancia desde el lado derecho */
}

.word-item .image-word {
    width: 60px; /* Ajusta el ancho según sea necesario */
    height: 60px; /* Ajusta la altura según sea necesario */
	margin-bottom: 10px; /* Ajusta la cantidad de espacio vertical entre los ítems */
	margin-right: 15px;
}
.word-item{
	margin-left: 10px;
}
 
.pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%; /* Ajusta el ancho según sea necesario */
	padding: 10px; /* Añade espacio alrededor del contenedor */
	
  }
  
  .pagination-info {
	margin-bottom: 10px;
	
  }
  
  .pagination-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10%; /* Asegura que los botones estén alineados horizontalmente */
	border: none;
    cursor: pointer;
	
  }
  
  .pagination-buttons button {
	margin: 0 5px;
	background-color: white; /* Fondo blanco para los iconos y el lector */
	border:  1px solid black; 
  }
 
	.Imprimir{
	position: absolute;
	top: 20px; /* Ajusta la distancia desde la parte superior */
	right: 20px; /* Ajusta la distancia desde el lado derecho */
	padding: 0;
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	outline: none; /* Elimina el contorno al hacer clic */
	transition: transform 0.2s ease; /* Agrega una transición suave al hacer hover */

	/* Establece un tamaño predeterminado o ajusta según sea necesario */
	width: 200px;
	
	}
	.Imprimir img {
		width: 50px; /* Ajusta el ancho de la imagen */
		height: auto; /* Permite que la altura se ajuste automáticamente */
	  }
	.Imprimir:hover {
	transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
	}
	
	.Imprimir:active {
	transform: scale(0.95); /* Reduzca ligeramente el tamaño al hacer clic */
	}
	/* Ajuste del fondo de los iconos y del lector */
.menu-options button img,
.lector,
.Imprimir img,
.menu img {
    background-color: white; /* Fondo blanco para los iconos y el lector */
	border:  1px solid black; ;
 }
 .file-input-label {
    display: inline-block;
    cursor: pointer;
}

.file-input-label img {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 50px;
}

.file-input-label:hover {
    /* Agrega estilos de hover según sea necesario */
}

 /*RESPONSIVE*/
 /* Ocultar el logo en dispositivos que no sean ordenadores */
@media (max-width: 768px) {
    .icon {
        display: none;
    }
}
@media (max-width: 768px) {
    .item {
        width: calc(50% / 2);
    }
}
