/* Ajustes generales para el cuerpo y el contenedor */
html, body {
    height: 100%; /* Asegura que la altura de HTML y el cuerpo ocupe toda la pantalla */
    margin: 0 auto; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    background-color: #cac9c9; /* Color de fondo gris claro */

}

 .container {
	width: 80%; /* Ancho igual al tamaño visible de la ventana */
	padding: 20px; /* Añade espacio interno al contenido */
	display: flex;
    flex-direction: column;
	margin: 0 auto; /* Centra el contenedor horizontalmente */

  }


/* Estilos para los elementos dentro del contenedor principal */
.menu-options {
	display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%; /* Ocupa todo el ancho disponible */
    min-height: 50%; /* Altura mínima cuando la pantalla se reduce */
    height: auto; /* Altura ajustada automáticamente */
}

.menu-left,
.menu-right {
	display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;

}

.menu-left {
    width: 35%; /* Ancho fijo para el menú izquierdo */
    min-width: 110px; /* Ancho mínimo para cuando la pantalla se reduzca */

}

.menu-right {
    width: 50%; /* Ancho fijo para el menú derecho */
    min-width: 170px; /* Ancho mínimo para cuando la pantalla se reduzca */
}

.menu-left button,
.menu-right button {
	width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    display: flex;
    justify-content: center;
    align-items: center;
    background: none; /* Elimina el fondo del botón */
    border: none; /* Elimina el borde del botón */
    cursor: pointer;
}

.menu-left button img,
.menu-right button img {
    width: 100%;
    height: auto; /* Mantener la proporción de la imagen */
}

/* Estilos del lector */
.lector {
    width: 90%; /* Reduce el ancho del contenedor */
    max-width: 90%; /* Asegura que el ancho máximo no sea superior al 50% */
    display: flex;
    justify-content: flex-start; /* Alinea los elementos al principio */
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
    flex: 1; /* Permite que este elemento crezca para ocupar el espacio disponible */
    min-width: 50%; /* Ajusta el tamaño mínimo según sea necesario */
    min-height: 100px; /* Ajusta el tamaño mínimo según sea necesario */    
    overflow: auto; /* Agrega una barra de desplazamiento si el contenido es demasiado grande */
    white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
    position: relative; /* Asegura que los elementos dentro se posicionen correctamente */
    z-index: 1; /* Ajusta el z-index según sea necesario */

}

/* Estilos de los items dentro del lector */
.lector .word-item {
    margin: 0; /* Elimina espacio vertical entre los ítems */
    font-weight: bold; /* Negrita para el nombre */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    background-color: white; /* Fondo blanco para cada ítem */
    padding: 2%; /* Ajusta el padding interno */
    border-radius: 5px; /* Añade un radio de borde */
    box-sizing: border-box; /* Asegura que padding y borde se incluyan en las dimensiones totales */
    text-align: center; /* Centra el texto */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    width: auto; /* Ajusta el ancho al contenido */
    min-width: 30%; /* Ancho mínimo para cada elemento */
    margin-right: 5px; /* Ajusta el espacio entre los elementos */
    margin-bottom: 5px; /* Ajusta el espacio vertical entre los elementos */
    height: auto;
    /* Estilos para dispositivos móviles */
    @media (max-width: 800px) {
        flex: 0 0 45%; /* Ajusta el tamaño del ítem para que quepan más en una fila */
        max-width: 45%; /* Establece el ancho máximo del ítem */
        font-size: 70%; /* Reducir el tamaño de la fuente para las palabras */
    }
}



/* Estilos del contenido dentro de cada item */
.lector .word-with-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Ancho completo del contenedor */
}

/* Estilos de la imagen dentro del item */
.lector .image-word {
    width: 100%; /* Establece un ancho fijo para la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
}
/* Asegurar consistencia de tamaño en imagen y texto */
.lector .image-word, .lector .word-below-image {
    max-width: 100%;
    flex: 1;
}
/* Estilos del texto debajo de la imagen */
.lector .word-below-image {
    margin-top: 5px; /* Ajusta el margen superior del texto */
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
    overflow: hidden; /* Oculta cualquier desbordamiento */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se desborda */
    white-space: nowrap; /* Mantiene el texto en una sola línea */
}
/* Ajuste de estilo adicional para la imagen */
.lector .word-with-image img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 5%; /* Ajusta el margen inferior de la imagen */

}

.item {
	flex: 0 0 calc(25% - 20px); /* Calcula el ancho del elemento para mostrar 3 elementos por fila */
	min-width: 25%;
    width: 100px;
	height: 100px;
	border:  1px solid black; ;
	padding: 2%;
	display: flex;
	gap: 10%;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	flex-direction: column;
	margin: 1%;
	background-color: white; /* Establece un fondo blanco para los pictogramas */
	position: relative; /* Agregamos posición relativa */
    flex-shrink: 0; /* Permite que los elementos se reduzcan de tamaño si es necesario */
    margin-bottom: 2%; /* Añade un margen inferior para separar los elementos */
    
}
  
.items {
	display: flex;
	justify-content: center;
	margin: 3% 0;
	flex-wrap: wrap;
    align-items: center;
	overflow-x: auto;
    white-space: nowrap; /* Asegura que los ítems estén en una sola línea */
    -webkit-overflow-scrolling: touch; /* Habilita el desplazamiento suave en iOS */

}
/* Estilos del contenido dentro de cada item */
.item .word-with-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; /* Ajusta el ancho al 100% para ocupar todo el espacio disponible */
    text-align: center; /* Centra el texto */
}


/* Estilos del texto debajo de la imagen */
.item .word-below-image {
    margin-top: 5px; /* Ajusta el margen superior del texto */
    text-align: center; /* Centra el texto */
    width: 100%; /* Ajusta el ancho al 100% para ocupar todo el espacio disponible */
    margin-bottom: 1%; /* Ajusta el margen inferior del texto */
}
  
  .item span {
	font-size: 60%; /* Tamaño de fuente deseado para el nombre */
	font-weight: bold; /* Negrita para el nombre */
	text-align: center;
  }
  .delete-button {
    position: absolute; /* Establece posición absoluta */
    top: 10%; /* Ajusta la posición desde la parte superior */
    left: 80%; /* Ajusta la posición desde la parte derecha */
    background-color: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor apuntador */
}

.delete-button img {
    width: 15%; /* Ajusta el tamaño del icono */
    height: 5%; /* Ajusta el tamaño del icono */
}


.confirmation-modal {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px; /* Mantén el borde redondeado */
    width: auto; /* Ancho del modal */
    height: auto; /* Alto del modal */
    padding: 5%; /* Espaciado interno */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinea los elementos en el centro vertical */
   
}

.confirmation-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-modal p {
    margin-bottom: 1em; /* Espacio entre el texto y los botones */
}

.confirmation-modal-buttons {
    display: flex;
    justify-content: space-between;
}

.confirmation-modal button {
    padding: 5px 10px; /* Espaciado del botón */
    background-color: #5c6166; /* Color de fondo del botón */
    color: #ffffff; /* Color de fuente del botón */
    border: none; /* Sin borde */
    border-radius: 3px; /* Radio del borde */
    cursor: pointer; /* Cursor apuntador */
    flex: 1; /* Asegura que los botones ocupen el mismo espacio */
    margin: 0 10px; /* Espacio horizontal entre los botones */
}

.confirmation-modal button:first-child {
    margin-left: 0; /* Quita el margen izquierdo del primer botón */
}

.confirmation-modal button:last-child {
    margin-right: 0; /* Quita el margen derecho del último botón */
}

  .column.horizontal {
	flex: 1;
  }
  
  .actions-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Alinea las acciones al inicio */
  }
  
  .actions-container .item {
    margin-bottom: 5%; /* Reducir el espacio entre las filas de acciones */
  }
  
  .verbs-container {
	display: flex;
    flex-wrap: wrap;
    flex: 1; /* Ocupa todo el espacio restante */


  }
  
  .verbs-container .item {
	flex: 1;
    margin-right: 5%; /* Reducir el espacio entre los verbos */
    margin-bottom: 5%; /* Reducir el espacio entre las filas de verbos */
    padding: 10%;
    background-color: #ffffff;
    cursor: pointer;
}
.lector-container {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    width: 100%; /* Ancho del viewport */
    height: 100%; /* Alto del viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Posición fija para cubrir toda la página */
    top: 0; /* Desde la parte superior */
    left: 0; /* Desde la parte izquierda */
    z-index: 9999; /* Colocarlo por encima de otros elementos */
    overflow: hidden; /* Oculta el scroll interno */
    padding: 0;
    margin: 0;
    
}
.lector-big {
    padding: 1%; /* Ajustar el relleno interno */
    display: flex;
    justify-content: flex-start; /* Alinear los elementos al principio horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 15% auto; /* Ajustar automáticamente el margen horizontal para centrar y aumentar el margen vertical */
    width: 70%; /* Ancho del contenedor */
    background-color: white; /* Fondo blanco */
    border: 2px solid black; /* Borde negro */
    border-radius: 10px; /* Radio de borde */
    overflow-x: auto; /* Permitir desplazamiento horizontal si los elementos no caben */
    white-space: nowrap; /* Evitar que los elementos se envuelvan a la siguiente línea */
    height: auto;
}

/* Estilos de los items dentro del lector */
.lector-big .word-item {
    flex: 0 0 auto; /* Ajustar el tamaño de cada ítem */
    box-sizing: border-box; /* Incluir padding y border en el tamaño total del ítem */
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap; /* Evitar que los elementos se envuelvan a la siguiente línea */
    padding: 0; /* Eliminar padding adicional */
    height: auto;
    font-weight: bold; /* Negrita para el nombre */

}



.lector-big .word-items-container {
    display: flex;
    flex-wrap: nowrap; /* Asegurar que los elementos no se envuelvan a la siguiente línea */
    overflow-x: auto; /* Permitir desplazamiento horizontal si los elementos no caben */
    justify-content: flex-start; /* Alinear los elementos al principio */
    align-items: center; /* Centrar verticalmente */
    gap: 4%; /* Reducir el espacio entre los ítems */
}

.word-item .image-word {
    width: 70%;
    height: auto;
    margin-bottom: 5%; /* Ajustar el margen inferior de la imagen */
    max-width: 100%; /* Tamaño máximo de la imagen */
    max-height: 100%; /* Tamaño máximo de la imagen */
}

.word-item {
    box-sizing: border-box; /* Incluir padding y border en el tamaño total del ítem */
    padding: 0; /* Eliminar padding interno */
    min-width: auto; /* Ajustar el ancho automáticamente */
}
.salir {
    position: absolute; /* Posición relativa para permitir posicionar el elemento dentro de él */
    margin-top: 10%; /* Espacio entre el lector-big y el mensaje */
}

.salir p {
    border: 1px solid #ccc; /* Borde de la nota */
    border-radius: 5px; /* Borde redondeado */
    padding: 8px; /* Espacio interior de la nota */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra de la nota */
    position: absolute; /* Posición absoluta para permitir posicionar exactamente */
    top: calc(100% + 20px); /* Posiciona el mensaje justo debajo del lector-big */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    width: max-content; /* Ancho máximo basado en el contenido */
    text-align: center; /* Alineación centrada del texto */
    font-size: 9px; /* Tamaño de fuente */
}
.pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
	
  }
  
  .pagination-info {
	margin-bottom: 1%;
	
  }
  
  .pagination-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10%; /* Asegura que los botones estén alineados horizontalmente */
	border: none;
    cursor: pointer;
	
  }
  
  .pagination-buttons button {
	margin: 0 2%;
	background-color: white; /* Fondo blanco para los iconos y el lector */
	border:  1px solid black; 
  }
  .Imprimir {
	position: fixed;
	top: 5%;
	right: 5%;
	z-index: 1000; /* Asegura que esté por encima del contenido */
	transition: transform 0.2s ease; /* Agrega una transición suave al hacer hover */

  }
  
  .Imprimir button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
  }
  
  .Imprimir img {
	width: 30px; /* Tamaño deseado del icono */
	height: auto;
  }
   

.Imprimir:hover {
	transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}

.Imprimir:active {
	transform: scale(0.95); /* Reduzca ligeramente el tamaño al hacer clic */
}


	/* Ajuste del fondo de los iconos y del lector */
.menu-options button img,
.lector,
.menu img {
    background-color: white; /* Fondo blanco para los iconos y el lector */
	border:  1px solid black; ;
 }

 .button-container {
    display: flex;
    align-items: center;
}

.file-input-label {
    display: flex;
    align-items: center;
    cursor: pointer;
	margin-right: 5%; /* Elimina cualquier margen derecho */
	margin-bottom: 2%;
}

.file-input-label img {
    width: 3%; /* Ajusta el tamaño según sea necesario */
    background-color: transparent; /* Elimina el fondo */
}

.pantalla-completa {
    border: none; /* Elimina el borde del botón */
    background: none; /* Elimina el fondo del botón */
    padding: 0; /* Elimina cualquier padding adicional */
    cursor: pointer;
    display: flex;
    align-items: center;
	margin-left: 1%; /* Elimina cualquier margen derecho */

}

.pantalla-completa img {
    width: 55%; /* Ajusta el tamaño según sea necesario */
    background-color: transparent; /* Elimina el fondo */
    display: block; /* Asegura que la imagen no tenga margen extra */
}
.file-input-label:hover {
	transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}
.file-input-label .icon {
    width: 10%; /* Cambia el ancho al 15% del contenedor */
    position: relative; 
    left: 85%; /* Alinea el icono a la izquierda */
}

 /*RESPONSIVE*/
 /* Ocultar el logo en dispositivos que no sean ordenadores */

@media (max-width: 768px) {
    .item {
        width: calc(50% / 2);
    }
    
}

/* Estilos para dispositivos móviles */
@media (max-width: 1024px) {
    .item {
		width: calc(50% / 2);
    }
}

@media (max-width: 480px) {
    .item {
    	width: calc(50% / 2);

    }
}
/* Estilos para dispositivos  */
@media (max-width: 800px) {
    .lector-big .word-item {
        flex: 0 0 20%; /* Ajusta el tamaño del ítem para que quepan más en una fila */
        max-width: 20%; /* Establece el ancho máximo del ítem */
        font-size: 70%; /* Reducir el tamaño de la fuente para las palabras */
    }
}
/* Estilos para dispositivos  */
@media (max-width: 600px) {
    .lector-big  .word-item {
        flex: 0 0 20%; /* Ajusta el tamaño del ítem para que quepan más en una fila */
        max-width: 100%; /* Establece el ancho máximo del ítem */
        font-size: 75%; /* Reducir el tamaño de la fuente para las palabras */
    }
}
/* Estilos para dispositivos  */
@media (max-width: 500px) {
    .lector-big  .word-item {
        flex: 0 0 20%; /* Ajusta el tamaño del ítem para que quepan más en una fila */
        max-width: 80%; /* Establece el ancho máximo del ítem */
        font-size: 55%; /* Reducir el tamaño de la fuente para las palabras */
    }
}
/* Estilos para dispositivos de tamaño mediano */
@media (max-width: 1024px) {
    .lector-big .word-item {
        flex: 0 0 15%; /* Ajusta el tamaño del ítem para que quepan más en una fila */
        max-width: 20%; /* Establece el ancho máximo del ítem */
        font-size: 70%; /* Reducir el tamaño de la fuente para las palabras */

    }
}
/* Estilos para dispositivos de tamaño mediano */
@media (max-width: 1024px) {
    .lector .word-item {
        flex: 0 0 30%; /* Ajusta el tamaño del ítem para que quepan más en una fila */
        max-width: 30%; /* Establece el ancho máximo del ítem */
        font-size: 70%; /* Reducir el tamaño de la fuente para las palabras */
    }
}